
.popup {
  display: inline-block;
  visibility: hidden;
  width: 400px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 40%;
  margin-left: -80px;
}

.popup .show {
  visibility: visible;
}